.container {
  margin: 0 auto;
  width: 100%;
  min-width: 460px;
  background-color: yellow;
  text-align: center;
}
.header{
  position: fixed;
  top: 0;
  text-align: left;
  background-color: green;
  width: 100%;
  height: 3rem;
  z-index: 5;
  color: white;
  padding: 0 1rem;
}
.header a{
  display: block;
  line-height: 3rem;
  width: 10rem;
  text-align: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1{
  font-size: 3rem;
  margin: 1rem 1rem;
}
.main table,
.main td{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
.main table{
  width: 60%;
  max-width: 500px;
  min-width: 300px;
  margin-bottom:5rem;
}
.main tr{
  line-height: 3rem;
  width: 100%;
}
.main .icon{
  display: block;
  width: 100%;
  height: 100%;
}
.main .icon:hover{
  background-color: blue;
}
.main .icon:active{
  background-color: pink;
}






.footer {
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 4rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.writer {
  margin-top: 0.5rem;
}
.detailWrapper{
  width: 80%;
  max-width: 500px;
  text-align: left;
}
.imageWrapper{
  display: flex;
  border: solid black;
  border-width: 1px 0 0 1px;
}
.imageWrapper img{
  object-fit: cover;
  background-color: white;
  border: solid black;
  border-width: 0 1px 1px 0;
  width: 50%;
  margin: 0 auto;
}

.detailWrapper ul{
  background-color: white;
}

@media(max-width:700px){
  .main h1{
    text-align: left;
  }
  .imageWrapper{
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  .imageWrapper img{
    width: 100%;
  }
};