.container {
  margin: 0 auto;
  width: 100%;
  min-width: 460px;
  background-color: yellow;
  text-align: center;
}
.header p{
  font-size: 5rem;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1{
  font-size: 3rem;
  margin: 1rem 1rem;
}
.main table,
.main td{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
.main table{
  width: 60%;
  max-width: 500px;
  min-width: 300px;
  margin-bottom:5rem;
}
.main tr{
  line-height: 3rem;
  width: 100%;
}
.main .icon{
  display: block;
  width: 100%;
  height: 100%;
}
.main .icon:hover{
  background-color: blue;
}
.main .icon:active{
  background-color: pink;
}






.footer {
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 4rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.writer {
  margin-top: 0.5rem;
}

